<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>777887054216-i15746mpguo9trhiacpp59h69qvle6m2.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.777887054216-i15746mpguo9trhiacpp59h69qvle6m2</string>
	<key>API_KEY</key>
	<string>AIzaSyCQoy8TiEEnL2kGqNALTgchq7MJbOrJ78E</string>
	<key>GCM_SENDER_ID</key>
	<string>777887054216</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.ottomate.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>ottomate-99c32</string>
	<key>STORAGE_BUCKET</key>
	<string>ottomate-99c32.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:777887054216:ios:674fe1b9985079d4b1e23d</string>
</dict>
</plist>